@mixin box-size(){
	margin: 0 auto;
	padding: 24px;
}
.main-content{
	font-size: 14px;
	text-align: center;
	transition: width 1s;
	transform: scale(0.8);
	@include box-size();
	background-color: #fff;
	transition: width 2s;
}