<div id="homepage">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="#">解读JQ</a></li>
        <li><a href="#">js面向对象</a></li>
        <li><a href="#">Vue尝鲜</a></li>
        <li><a href="#">关于我</a></li>
    </ul>
</div>